In [1]:
#Loading libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [ ]:
# Loading data
df = pd.read_csv("/Users/shuprov630/Desktop/Project2/heartfailureanalysis/heart.csv.xls")

#Basic Overview
print("Dataset Shape:", df.shape)
print(F"\nRows: {df.shape[0]}, Columns: {df.shape[1]}")
print("\n" + "="*60)
df.head()

Dataset Shape: (918, 12)

Rows: 918, Columns: 12

============================================================
Initial Missing Check (0 values are present)
   RestingBP  Cholesterol
0        140          289
1        160          180
2        130          283
3        138          214
4        150          195
5        120          339
6        130          237
7        110          208
8        140          207
9        120          284

In [6]:
# Detailed info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [7]:
# statistical summary
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [10]:
# Check for missing values
print("Missing values:")
print(df.isnull().sum())
print("\n" + "="*60)

# Check for duplicates
print(f"Duplicate Rows: {df.duplicated().sum()}")

Missing values:
Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

============================================================
Duplicate Rows: 0

In [11]:
cols_to_impute = ['RestingBP', 'Cholesterol']

#replacing 0s with NaN
df[cols_to_impute] = df[cols_to_impute].replace(0, np.nan)

print("\nNaN values created: ")
print(df.isnull().sum())

NaN values created:
Age                 0
Sex                 0
ChestPainType       0
RestingBP           1
Cholesterol       172
FastingBS           0
RestingECG          0
MaxHR               0
ExerciseAngina      0
Oldpeak             0
ST_Slope            0
HeartDisease        0
dtype: int64